## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Nikolskoye,RU,2022-05-23 02:33:01,59.7035,30.7861,44.78,57,87,2.98,overcast clouds
1,1,Iqaluit,CA,2022-05-23 02:33:01,63.7506,-68.5145,22.73,79,100,18.41,light snow
2,2,Tuktoyaktuk,CA,2022-05-23 02:33:02,69.4541,-133.0374,19.40,86,100,14.97,overcast clouds
3,3,Albany,US,2022-05-23 02:32:16,42.6001,-73.9662,63.01,81,98,11.68,overcast clouds
4,4,Camocim,BR,2022-05-23 02:33:02,-2.9022,-40.8411,74.86,90,10,5.41,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Nikolskoye,RU,2022-05-23 02:33:01,59.7035,30.7861,44.78,57,87,2.98,overcast clouds
3,3,Albany,US,2022-05-23 02:32:16,42.6001,-73.9662,63.01,81,98,11.68,overcast clouds
4,4,Camocim,BR,2022-05-23 02:33:02,-2.9022,-40.8411,74.86,90,10,5.41,clear sky
5,5,Sitka,US,2022-05-23 02:33:03,57.0531,-135.3300,51.69,76,100,5.75,overcast clouds
6,6,Inirida,CO,2022-05-23 02:33:03,3.8653,-67.9239,72.99,97,100,2.62,overcast clouds
7,7,Narsaq,GL,2022-05-23 02:33:04,60.9167,-46.0500,37.62,92,98,6.98,overcast clouds
8,8,Kholodnyy,RU,2022-05-23 02:33:04,62.7167,147.9500,36.52,98,100,3.11,light rain
9,9,Honiara,SB,2022-05-23 02:32:30,-9.4333,159.9500,85.19,71,32,4.29,scattered clouds
10,10,Kaitangata,NZ,2022-05-23 02:33:05,-46.2817,169.8464,51.37,70,100,17.16,overcast clouds
11,11,San Vicente,AR,2022-05-23 02:33:06,-26.6167,-54.1333,53.73,72,100,0.60,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                671
City                   671
Country                664
Date                   671
Lat                    671
Lng                    671
Max Temp               671
Humidity               671
Cloudiness             671
Wind Speed             671
Weather Description    671
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Nikolskoye,RU,2022-05-23 02:33:01,59.7035,30.7861,44.78,57,87,2.98,overcast clouds
3,3,Albany,US,2022-05-23 02:32:16,42.6001,-73.9662,63.01,81,98,11.68,overcast clouds
4,4,Camocim,BR,2022-05-23 02:33:02,-2.9022,-40.8411,74.86,90,10,5.41,clear sky
5,5,Sitka,US,2022-05-23 02:33:03,57.0531,-135.3300,51.69,76,100,5.75,overcast clouds
6,6,Inirida,CO,2022-05-23 02:33:03,3.8653,-67.9239,72.99,97,100,2.62,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
679,679,Kushmurun,KZ,2022-05-23 02:51:36,52.4503,64.6311,54.97,81,100,25.03,overcast clouds
680,680,Ipora,BR,2022-05-23 02:51:36,-16.4419,-51.1178,56.43,45,12,3.51,few clouds
681,681,Zvishavane,ZW,2022-05-23 02:51:36,-20.3267,30.0665,47.52,57,0,3.65,clear sky
682,682,Tapejara,BR,2022-05-23 02:51:37,-28.0681,-52.0139,49.87,84,100,4.09,overcast clouds
683,683,Chapais,CA,2022-05-23 02:51:37,49.7834,-74.8492,33.58,96,44,4.70,scattered clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Nikolskoye,RU,44.78,overcast clouds,59.7035,30.7861,
3,Albany,US,63.01,overcast clouds,42.6001,-73.9662,
4,Camocim,BR,74.86,clear sky,-2.9022,-40.8411,
5,Sitka,US,51.69,overcast clouds,57.0531,-135.3300,
6,Inirida,CO,72.99,overcast clouds,3.8653,-67.9239,
7,Narsaq,GL,37.62,overcast clouds,60.9167,-46.0500,
8,Kholodnyy,RU,36.52,light rain,62.7167,147.9500,
9,Honiara,SB,85.19,scattered clouds,-9.4333,159.9500,
10,Kaitangata,NZ,51.37,overcast clouds,-46.2817,169.8464,
11,San Vicente,AR,53.73,overcast clouds,-26.6167,-54.1333,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.count()

City                   664
Country                664
Max Temp               664
Weather Description    664
Lat                    664
Lng                    664
Hotel Name             664
dtype: int64

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != ''].reset_index()
clean_hotel_df

,index,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Nikolskoye,RU,44.78,overcast clouds,59.7035,30.7861,Tourist House - Sablino
1,4,Camocim,BR,74.86,clear sky,-2.9022,-40.8411,Ilha Praia Hotel
2,5,Sitka,US,51.69,overcast clouds,57.0531,-135.3300,Westmark Sitka
3,6,Inirida,CO,72.99,overcast clouds,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
4,7,Narsaq,GL,37.62,overcast clouds,60.9167,-46.0500,Sleep In Narsaq
...,...,...,...,...,...,...,...,...
599,679,Kushmurun,KZ,54.97,overcast clouds,52.4503,64.6311,Gostinitsa Pri Depo
600,680,Ipora,BR,56.43,few clouds,-16.4419,-51.1178,Oásis Motel
601,681,Zvishavane,ZW,47.52,clear sky,-20.3267,30.0665,Hotel Boutique Runde
602,682,Tapejara,BR,49.87,overcast clouds,-28.0681,-52.0139,Hotel Fontana
603,683,Chapais,CA,33.58,scattered clouds,49.7834,-74.8492,Hôtel Opémiska

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))